/* Styling the small button */
.button {
  border: none;
  outline: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  cursor: pointer;
}

/* Size Styles */

.big {
  width: 100%;
  min-width: 150px;
  padding: 10px 0px 5px 0px;
}

.small {
  width: 100%;
  max-width: 80px;
  padding: 10px 0px 5px 0px;
}

/*  Group Styles*/
.operand{
    color: var( --key-operand-text);
    background-color: var( --key-operand-bg);
    box-shadow: 0px 4px 0px 0px var( --key-operand-shadow);
}

.equal{
    color: var( --clc-white);
    background-color: var(--key-equal-bg);
    box-shadow: 0px 4px 0px 0px var(--key-equal-shadow);
}

.action{
    color: var( --clc-white);
    background-color: var(--key-action-bg);
    box-shadow: 0px 4px 0px 0px var(--key-action-shadow);
}
.equal:hover{
  opacity: 0.5;
}
.operand:focus{
  opacity: 0.2;
}


/* Mobile Styles */
@media only screen and (min-width: 300px ) and (max-width: 600px),
 only screen and (min-device-width: 300px) and (max-device-width: 600px){
  .small {
    max-width: 70px;
    padding: 20px 0px 15px 0px;
  }
  .big {
    min-width: 150px;
    padding: 20px 0px 15px 0px;
  }
}