.keypad{
    width: 380px;
    height: 320px;
    /* padding: 30px; */
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 50px); 
    grid-gap: 10px;
    background-color:  var(--keypad-background);
    border-radius: 8px;
}

.reset{
    grid-column: span 2;
}
.enter{
    grid-column: span 2;
}