/* Attribution styles */
.attribution { 
    font-size: 18px; 
    text-align: center; 
    position: absolute; 
     bottom: 0;
     padding-bottom: 5px;
     color: var(--attribution-color);
}
.attribution a { color: var(--attribution); text-decoration: none; }


/* Mobile Styles */
@media only screen and (min-width: 300px ) and (max-width: 600px),
 only screen and (min-device-width: 300px) and (max-device-width: 600px){
    .attribution{
       position: relative;
       padding-top: 30px ;
    }
 }
   