.screen {
  width: 380px;
  height: 100px;
  background-color: var(--screen-background);
  margin-bottom: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--header-group);
  font-size: 32px;
  padding: 20px;
}

 /* Mobile Styles */
 @media only screen and (min-width: 300px ) and (max-width: 600px),
 only screen and (min-device-width: 300px) and (max-device-width: 600px){
  .screen{
    width: 320px;
    height: 70px;
    margin-bottom: 18px;
    border-radius: 12px;
  }
 }

 /* Mobile Styles */
 @media only screen and (min-width: 450px ) and (max-width: 600px),
 only screen and (min-device-width: 450px) and (max-device-width: 600px){
  .screen{
    width: 380px;
    height: 90px;
    margin-bottom: 25px;
    border-radius: 12px;
  }
 }